* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* font-family: 'Baloo Bhai 2', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Roboto', sans-serif; */
}
body {
  background-color: rgb(189, 189, 245);
}
.container {
  background-color: rgb(189, 189, 245);
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}
.container .card {
  flex: 1;
  padding: 1.5rem;
  font-size: 1 rem;
  border-radius: 0.5rem;
  align-items: center;
  background-color: azure;
  width: 48%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  line-height: 2.1rem;
}
.card h3 {
  color: rgb(65, 55, 55);
}
.card-buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.card-buttons a {
  text-decoration: none;
}
.card P {
  color: rgb(121, 121, 115);
}
table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
h1 {
  text-align: center;
  margin-left: 500px;
  margin-bottom: 10px;
  color: rgb(10, 9, 9);
}
.center {
  width: 30%;
}
.head-1 {
  display: flex;
  justify-content: space-between;
}
.head-1 div {
  display: flex;
  align-items: center;
}
form {
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30%;
  margin: auto;
  background-color: white;
}
input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
}
.page-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  color: azure;
  font-weight: 500;

  background-color: #10033f;
  cursor: pointer;
}
.page-btn p {
  margin: 10px 10px;
}

li {
  list-style-type: none;
}
@media screen and (max-width: 1067px) {
  .container {
    width: 100%;
  }
  .container .card {
    width: 70%;
    margin: auto;
  }
  form {
    width: 60%;
  }
  h1 {
    margin: auto;
    margin-bottom: 10px;
    color: rgb(10, 9, 9);
    white-space: nowrap;
    font-size: 1.3rem;
  }

  .center {
    width: 30%;
  }

  div li button {
    font-size: 0.7rem;
    padding: 0.3rem;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .container .card {
    width: 90%;
    font-size: 0.7rem;
    margin: auto;
  }
  form {
    width: 75%;
  }

  div li button {
    font-size: 0.5rem;
    padding: 0.3rem;
  }
  h1 {
    margin: auto;
    margin-bottom: 10px;
    color: rgb(10, 9, 9);
    white-space: nowrap;
    font-size: 1.1rem;
  }
}
